body {
    font-family: Arial, sans-serif; 
    
}
#header{ 
    width: 70%;
    height: fit-content;
    margin: 0 auto;
    text-align: center;
    background-color: #eeeeee;
    padding: 4px;
}
#select{
    border: none;
    font-size: 1.1em;
}
#toggleBtn{
    padding: 3px;
    font-size: 1.1em;
    background-color: black;
    color: white;
    border-radius: 5px;
}
#output{
    background-color: white;
    width: fit-content;
    padding: 7px;
    margin: 9px auto;
    font-size: 1.1em;
}
.hide{
    display: none;
}
#schedule { 
    padding: 6px;
    box-sizing: border-box;
    width: 60%;
    margin: 0 auto;   
   
}
#schedule-row {
    display: flex;  
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #eeeeee;
    margin: 2em auto;
}
#schedule-time {
    font-weight: bold;
    padding: 5px;
    width: 20%;
    text-align: center;
}
.schedule-input {
    width: 70%;
    padding: 5px;
    box-sizing: border-box;
}
#delete-task{
    background-color: RED; 
}
#save{
    background-color: green;
}

#save,#delete-task{
    cursor: pointer;  
    color: white;
    border: none;
    padding: 5px;
    font-size: 1.2em;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
    box-sizing: border-box;
}

#confirmClose{
    background-color: white;
    border: 2px solid black;
    border-radius: 7px;
    width: 170px;
}
#discard{
    color: red;
}
#dialog-buttons{  
    width: 100%;
    display: flex;
    justify-content: space-between; 
    
}
#dialog-buttons > button{
     font-size: 1em;
     border-radius: 5px;
     border: none;
     padding: 5px;
     cursor: pointer;
}
#discard-btn{
    background-color: red;
    color: white;
}
.tasks{ 
    width: 80%;
    border: 4px solid #eeee;
    height: fit-content; 
    margin: .5em auto;
    padding: 7px; 
}
.bButton{
    width: fit-content;
    margin: 5px auto;
}
.backBtn,#modify,#delete{
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 7px;
}
#delete{
    background-color: red; 
    padding: 3px;
}
#modify{
    background-color: green;
    padding: 3px;
    margin-right: 12px;
    margin-left: 17em;
}
.saveTime{
    width: 100%; 
    display: flex;
    justify-content: space-around; 
    font-size: 1.2em;
}
.time{
    width: 15%;
    text-align: right;
    padding: 5px;
    font-weight: 700;
}
.elData{
    width: 80%;
    text-align: left;
    padding: 5px;
    font-family:cursive;
}